.Community {
	> .inner {
		.inputBox {
			width: 100%;
			border: 1px solid #bbb;
			padding: 50px;
			margin-bottom: 50px;

			input[type='text'],
			textarea {
				width: 50%;
				padding: 8px 10px;
				border: 1px solid #aaa;
				margin-bottom: 20px;
				resize: none;
			}

			.btnSet {
				button {
					width: 150px;
					height: 30px;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					border: none;
					background: #555;
					color: #fff;
					cursor: pointer;
					margin-right: 20px;
				}
			}
		}

		.showBox {
			width: 100%;
			border: 1px solid #bbb;
			padding: 50px;

			article {
				background: #fff;
				padding: 30px;
				margin-bottom: 40px;
				display: flex;
				justify-content: space-between;
				align-content: center;
				flex-wrap: wrap;

				.btnSet {
					display: flex;
					align-items: center;

					button {
						width: 60px;
						height: 26px;
						border: 1px solid #bbb;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: $fontS;
						margin-left: 10px;
						cursor: pointer;
					}
				}

				.editTxt {
					width: 60%;
					input[type='text'],
					textarea {
						width: 100%;
						padding: 4px 8px;
						border: 1px solid #aaa;
						margin-bottom: 10px;
						resize: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Community {
		> .inner {
			.inputBox {
				input[type='text'],
				textarea {
					width: 100%;
				}

				.btnSet {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					button {
						width: 47%;
						margin-right: 0px;
					}
				}
			}

			.showBox {
				article {
					background: #fff;
					padding: 30px;
					margin-bottom: 40px;
					display: flex;
					justify-content: space-between;
					align-content: center;
					flex-wrap: wrap;

					.txt {
						width: 100%;
						margin-bottom: 30px;
					}

					.btnSet {
						width: 100%;
						display: flex;
						justify-content: space-between;

						button {
							margin-left: 0px;
							width: 48%;
						}
					}

					.editTxt {
						width: 100%;
					}
				}
			}
		}
	}
}
